In [2]:
import pandas as pd
import os

In [28]:
# Path to the csv files extracted from citybike
path = r"../HOMEWORK_dataset/raw_data"
year = str(2017)

# Look for all the csv files in the data folder
filenames = os.listdir(path)
# Select only the data from 2017
csv_files = [ filename for filename in filenames if filename.endswith( ".csv" ) and filename.startswith(year)]
len(csv_files)

12

In [29]:
# Load with pandas and extract nb of rows, nb of columns ad column names
df_list = []
for ff in csv_files:
    df = pd.read_csv(os.path.join(path,ff))
    df.columns = map(str.upper, df.columns)
    print(ff)
    print(df.shape)

    # rename columns if needed
    if "STARTTIME" in df.columns:        
        df = df.rename(index=str, columns={"STARTTIME":'START TIME'})
    if 'STOPTIME' in df.columns:
        df = df.rename(index=str, columns={"STOPTIME":"STOP TIME"})
    if "TRIPDURATION" in df.columns:
        df = df.rename(index=str, columns={"TRIPDURATION":"TRIP DURATION"})
    if "USERTYPE" in df.columns:
        df = df.rename(index=str, columns={"USERTYPE":"USER TYPE"})
    if "BIKEID" in df.columns:
        df = df.rename(index=str, columns={"BIKEID":"BIKE ID"})

    df_list.append(df)

201701-citibike-tripdata.csv
(726676, 15)
201702-citibike-tripdata.csv
(791647, 15)
201703-citibike-tripdata.csv
(727665, 15)
201704-citibike-tripdata.csv
(1315404, 15)
201705-citibike-tripdata.csv
(1523268, 15)
201706-citibike-tripdata.csv
(1731594, 15)
201707-citibike-tripdata.csv
(1735599, 15)
201708-citibike-tripdata.csv
(1816498, 15)
201709-citibike-tripdata.csv
(1878098, 15)
201710-citibike-tripdata.csv
(1897592, 15)
201711-citibike-tripdata.csv
(1330649, 15)
201712-citibike-tripdata.csv
(889967, 15)

In [36]:
print(df.columns)
df.dtypes

Index(['TRIP DURATION', 'START TIME', 'STOP TIME', 'START STATION ID',
       'START STATION NAME', 'START STATION LATITUDE',
       'START STATION LONGITUDE', 'END STATION ID', 'END STATION NAME',
       'END STATION LATITUDE', 'END STATION LONGITUDE', 'BIKE ID', 'USER TYPE',
       'BIRTH YEAR', 'GENDER'],
      dtype='object')

TRIP DURATION                int64
START TIME                  object
STOP TIME                   object
START STATION ID             int64
START STATION NAME          object
START STATION LATITUDE     float64
START STATION LONGITUDE    float64
END STATION ID               int64
END STATION NAME            object
END STATION LATITUDE       float64
END STATION LONGITUDE      float64
BIKE ID                      int64
USER TYPE                   object
BIRTH YEAR                 float64
GENDER                       int64
dtype: object

In [37]:
# Concatenate the list of dataframe into a big one
dffull = pd.DataFrame()
dffull = pd.concat(df_list)

In [41]:
# create a sample: because my computer is old and I couldn't even use the full dataset because of tableau public limitation
# 15millions rows
dfsample = dffull.sample(n=1000000)

In [38]:
dffull.count()

TRIP DURATION              16364657
START TIME                 16364657
STOP TIME                  16364657
START STATION ID           16364657
START STATION NAME         16364657
START STATION LATITUDE     16364657
START STATION LONGITUDE    16364657
END STATION ID             16364657
END STATION NAME           16364657
END STATION LATITUDE       16364657
END STATION LONGITUDE      16364657
BIKE ID                    16364657
USER TYPE                  16348748
BIRTH YEAR                 14734322
GENDER                     16364657
dtype: int64

In [42]:
dfsample.count()

TRIP DURATION              1000000
START TIME                 1000000
STOP TIME                  1000000
START STATION ID           1000000
START STATION NAME         1000000
START STATION LATITUDE     1000000
START STATION LONGITUDE    1000000
END STATION ID             1000000
END STATION NAME           1000000
END STATION LATITUDE       1000000
END STATION LONGITUDE      1000000
BIKE ID                    1000000
USER TYPE                   999057
BIRTH YEAR                  900580
GENDER                     1000000
dtype: int64

In [25]:
# Save the datasets
dffull.to_csv("full_"+str(year)+".csv")

In [43]:
dfsample.to_csv("sample_1M_"+str(year)+".csv")